
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>HTML5 Genetic Algorithm 2D 3-Wheelers - Chrome recommended</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="keen-ui.css">
  <script src="lib/box2d.js"></script>
  <script src="lib/seedrandom.js"></script>
</head>
<body>
  <div id="vmroot" class="container">
    <div class="row">
      <div class="col-xs-9">
        <div class="row">
          <div class="col-md-6">
            <h2>
              n-Wheelers <span class="small">by <a href="https://github.com/makr0/HTML5-Genetic-n-wheelers">makr0</a></span>
            </h2>
          </div>
          <div class="col-md-6 text-right">
            <h2>
              <input type="button" class="btn btn-default btn-sm" value='-'
                     @click="zoomOut">

              <input type="button" class="btn btn-default btn-sm" value='+'
                     @click="zoomIn">
            </h2>
          </div>

        </div>
        <div style="position:relative;">
          <canvas id="mainbox" width="700" height="400" class="background_and_border"></canvas>
          <div id="stats" class="small">
            <strong>Generations:</strong> {{ gen_counter }}<br>
            <strong>Cars alive:</strong>  {{ generationSize - deadCars }}<br/>
            <strong>watching:</strong>  {{ camera.target }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-7">
            <div id="graphholder">
              <canvas id="graphcanvas" width="380" height="250" class="background_and_border"></canvas>
              <div class="scale small" id="s100">250</div>
              <div class="scale small" id="s75">187</div>
              <div class="scale small" id="s50">125</div>
              <div class="scale small" id="s25">62</div>
              <div class="scale small" id="s0">0</div>
            </div>
          </div>
          <div class="col-sm-5">
            <div id="topscoreholder" class="small">
              <table>
              <tr><th>#</th><th>score</th><th>x</th><th>gen</th></tr>
              <tr v-for="(score, index) in top10Scores">
                <td>{{ index }}</td>
                <td>{{ Math.round(score.s) }}</td>
                <td>{{ Math.round(score.x) }}</td>
                <td>{{ score.gen }}</td>
              </tr>
              </table>
            </div>
          </div>
        </div>
        <div id="minimapholder">
          <canvas id="minimap" width="700" height="200"></canvas>
          <div id="minimapcamera"></div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="row">
          <div class="col-xs">
            <h3>Controls</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">

            <input type="button" class="btn btn-default btn-sm"
                   v-if="doDraw"
                   value="Speed up!" @click="doDraw = !doDraw" />
            <input type="button" class="btn btn-default btn-sm"
                   v-if="!doDraw"
                   value="show cars" @click="doDraw = !doDraw" />
            <input type="button" class="btn btn-default btn-sm" value="New Population" onclick="resetPopulation()" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 small">Mutation rate</div>
          <div class="col-xs-7">
            <select id="mutationrate" class="btn btn-default btn-sm" onchange="cw_setMutation(this.options[this.selectedIndex].value)">
              <option value="0">0%</option>
              <option value="0.01">1%</option>
              <option value="0.02">2%</option>
              <option value="0.03">3%</option>
              <option value="0.04">4%</option>
              <option value="0.05" selected="selected">5%</option>
              <option value="0.1">10%</option>
              <option value="0.2">20%</option>
              <option value="0.3">30%</option>
              <option value="0.4">40%</option>
              <option value="0.5">50%</option>
              <option value="0.75">75%</option>
              <option value="1.0">100%</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 small">Mutation Range</div>
          <div class="col-xs-7">
            <select id="mutationsize" class="btn btn-default btn-sm" onchange="cw_setMutationRange(this.options[this.selectedIndex].value)">
              <option value="0">0%</option>
              <option value="0.01">1%</option>
              <option value="0.02">2%</option>
              <option value="0.03">3%</option>
              <option value="0.04">4%</option>
              <option value="0.05">5%</option>
              <option value="0.1">10%</option>
              <option value="0.2">20%</option>
              <option value="0.3">30%</option>
              <option value="0.4">40%</option>
              <option value="0.5">50%</option>
              <option value="0.75">75%</option>
              <option value="1.0" selected="selected">100%</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <ui-checkbox v-model="mutable_floor">mutable floor</ui-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <ui-select label="Gravity"
            :options="gravityOptions"
            v-model="gravityValue"
            ></ui-select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <ui-select label="Elite"
            :options="gen_champions_options"
            v-model="gen_champions"
            ></ui-select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <ui-select label="Breeding"
            :options="breedingOptions"
            v-model="selectedBreedingOption">
            </ui-select>
          </div>
        </div>
        <br />
        <input type="button" class="btn btn-default btn-sm"
               value="Watch Leader"  @click="setCameraTarget(-1)" />
        <canvas id="leadercanvas" width="200" height="200" class="background_and_border"></canvas>
        <div id="health">
          <div class="healthbar"
               v-for="car in cars"
               v-on:click="setCameraTarget(car.index)">
            <div name="health" class="health"
                 :class="{ elite: car.is_elite }"
              :style="{ width: car.health }"></div>
            <div class="healthtext">{{car.index}}</div>
          </div>
        </div>
        <div id="cars"></div>
      </div>
      <div id="generation"></div>
      <div id="population"></div>
      <div id="distancemeter"></div>
    </div>

    <br />
    <div class="panel panel-default">
      <div class="panel-heading"> Info
      </div>
      <div class="panel-body">
        <h3>What is it?</h3>
        The program uses a simple genetic algorithm to evolve random three-wheeled shapes into cars over generations; the terrain gets more complex with distance.<br />
        The code is on a <a href="https://github.com/formikaio/HTML5-Genetic-3-wheelers">GitHub repository</a>. Feel free to contribute!
        Developed by <a href="http://www.whiletrue.it">WhileTrue</a>, heavily inspired by <a href="https://github.com/red42/HTML5_Genetic_Cars">HTML5 Genetic Cars</a>.

        <h3>Controls</h3>
        <ul>
        <li>Speed up! (hide cars): Toggles drawing, makes the simulation faster</li>
        <li>New Population: Keeps the generated track and restarts the whole car population</li>
        <li>Mutation rate: The chance that each gene in each individual will mutate to a random value when a new generation is born</li>
        <li>Mutation size: The range each gene can mutate into. Lower numbers mean the gene will have values closer to the original</li>
        <li>Floor: fixed or mutable for every next generation</li>
        <li>Gravity: our Earth is the default, but you can try it in another planets :)</li>
        <li>Elite: The top <i>n</i> cars that will be copied over to the next generation</li>
        <li>View top replay: Pause the current simulation and show the top performing car. Click again to resume simulation</li>
        </ul>

        <h3>Graph</h3>
        <ul>
        <li>Red: Top score in each generation</li>
        <li>Green: Average of the top 10 cars in each generation</li>
        <li>Blue: Average of the entire generation</li>
        </ul>

        <h3>Genome</h3>
        The genome consists of:
        <ul>
        <li>Shape: (8 genes, 1 per vertex)</li>
        <li>Chassis density: (1 gene) darker body means denser chassis</li>
        <li>Wheel size: (3 genes, 1 per wheel)</li>
        <li>Wheel position: (3 genes, 1 per wheel)</li>
        <li>Wheel density: (3 genes, 1 per wheel) darker wheels mean denser wheels</li>
        </ul>
      </div>
      <div name="minimapmarker" class="minimapmarker"></div>
    </div>

  </div>

  <script src="src/draw.js"></script>
  <script src="src/graphs.js"></script>
  <script src="src/car.js"></script>
  <script src="build.js"></script>
</body>
</html>
